<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<meta http-equiv="refresh" content="4; http://127.0.0.1:8000/accepttoshowpage/id=162/" />-->
    

  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  
   <meta charset="utf-8">
    <title>Sign in &middot; Twitter Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/js/bootstrap.js" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  
  <!-- '#' IN JQUERY IS USED TO ACCESS ID AND '.' IN JQUERY IS USED TO ACCESS CLASS-->
  <script type="text/javascript"> 
  
  function days_Calculate(){ 
  	//alert('hiiiiiiii');
	  var str="";
	  var empty_list1 = "{{empty_list|safe}}";
	  //alert(empty_list1);
	  for (var i=1;i<empty_list1.length-1;i++){
	  		str=str+empty_list1[i];
	  	};
	  var chutti=String(str).split(',');
	  //alert(chutti);
	  //for (var i=0; i<chutti.length;i++){
	  	//alert(chutti[i]);
	   //};
  	
  	var a=document.getElementById('datepicker1').value;
  	//alert(a);
  	var b=document.getElementById("datepicker2").value;
  	//alert(b);
  	var one_day=1000*60*60*24
  	//alert(one_day);
  	var x=a.split("/");     
    var y=b.split("/");
    var month1=x[0]-1;
    var month2=y[0]-1; 
    var year1=x[2];
    var year2=y[2];
    var day1=x[1];
    var day2=y[1];
  //date format(Fullyear,month,date) 
    var date1=new Date(x[2],(x[0]-1),x[1]);
 	var date2=new Date(y[2],(y[0]-1),y[1]);  
  //Calculate difference between the two dates, and convert to days
  	if (year1==year2)
  	{
	  	if (date2>=date1)
	  		{
	  		Diff1=Math.ceil((date2.getTime()-date1.getTime())/(one_day));
	    	diff1=Diff1+1 
	 
	    	var now = new Date(y[2],(y[0]-1),y[1]);
			var daysOfYear = [];
			for (var d = new Date(x[2],(x[0]-1),x[1]); d <= now; d.setDate(d.getDate() + 1))
			 	{
			 		
			 		var get_date=d.getDate();//1-31
			 		var weekend=d.getDay();//0-6
			 		var get_year=d.getFullYear();//yyyy
			 		var get_month=d.getMonth();//1-11
				
			 		for (var i=0; i<chutti.length;i++){
	  					//alert('chutti');
	  					nv=chutti[i];
	  					//alert(nv);
	  					var nv_date=new Date(nv);
	  					var get_date_nv=nv_date.getDate();//1-31
			 			var weekend_nv=nv_date.getDay();//0-6
			 			var get_year_nv=nv_date.getFullYear();//yyyy
			 			var get_month_nv=nv_date.getMonth();//1-11
			 			
			 			//alert('get_date_nv');
			 			//alert(get_date_nv);
			 			if(get_date_nv==get_date){
			 				if(get_month_nv==get_month){
			 					if(get_year_nv==get_year){
			 						alert('date is matched with holiday list');
			 						diff1=diff1-1;
			 					}
			 				}
			 			}
	  					
	  				};
			 		
			 		
			 		
			 		//var weekend=d.getDay();
			 		if (weekend==0)
			 			{
			 				alert('Sunday');
			 				//alert(weekend);
			 				diff1=diff1-1;
			 				
			 			}
			 		if(weekend==6)
			 			{
			 				alert('Saturday');
			 				//alert(weekend);
			 				diff1=diff1-1;
			 				//alert(diff1);
			 			}
	    	//to assign to the field 
	    		//document.getElementById("id_actual_totalleavesdifference").value=diff1;  	
	    		}
	    	}
	    	
	    else
	    	{
	    		alert('invalid date');
	    	}
	 } 
	 else
	 {
	 	alert('to long leave:year donot match');
	 }  	
    
//_Diff gives the diffrence between the two dates.
  	
  	//p=Math.ceil(y.getTime()-x.getTime())/(one_day)
  	//alert(p);
  	
	document.getElementById("id_actual_totalleavesdifference").value=diff1;
  	 
  }
  
     $(function() {
    $( "#datepicker1" ).datepicker({minDate:-6});
    
    $(document).ready(function(){
      	$("#datepicker2").click(function(){
      				$("#datepicker2").focus();
        });
        $("#datepicker2").focus(function(){
    			    	var from_date = $( "#datepicker1" ).val();
    			    	$( "#datepicker2" ).attr('class','');
    			    	if(from_date != null && from_date !=''){
    			    		var from_date = new Date(from_date.split('/')[2],from_date.split('/')[0]-1,from_date.split('/')[1]);
    			    		var day_diff = Math.floor((new Date()-from_date)/(1000*3600*24))*-1;
    			    		var i=parseInt(day_diff);
    			    		$( "#datepicker2" ).datepicker({minDate:i});
    			    	}else{
    			    	$( "#datepicker2" ).datepicker({minDate:-6});
    			    	}
        });
  });
  });

  function check(form)/*function to check userid & password*/
{

var name= $( "#name" );
var pass=$("#password");
 if(name== "admin" && pass == "admin")
  {
  document.getElementById('light').style.display='none';
  document.getElementById('fade').style.display='none';
  }
 else
 { 
   alert("Error Password or Username");/*displays error message*/
  }
}
  
  </script> 
  <!--
  <title>LIGHTBOX EXAMPLE</title> 
<style> 
.black_overlay{ 
display: none; 
position: absolute; 
top: 0%; 
left: 0%; 
width: 100%; 
height: 100%; 
background-color: black; 
z-index:1001; 
-moz-opacity: 0.8; 
opacity:.80; 
filter: alpha(opacity=80); 
} 
.white_content { 
display: none; 
position: absolute; 
top: 25%; 
left: 25%; 
width: 50%; 
height: 50%; 
padding: 16px; 
border: 16px solid blue; 
background-color: white; 
z-index:1002; 
overflow: auto; 
} 
</style>
  <style>
        .black_overlay{
            display: block;

        }
        .white_content {
            display: block;

        }
  </style>-->
     </head>
  <!--<body class="container-fluid">  <!--<a href="#"><i class=" icon-user"></i>  </a>--> 
  	<body style="background-color: white">
  		
  		<!--<div id="light" class="white_content">      
    
		<br/>--></br/>
		 <br/>
 <br/>
 <br/>
 <br/>
       
        {% if magic3sec %}
        <div class="container-fluid">

      <form class="form-signin" method='POST' action="/lmagicmatch/id={{leave_id}}/" >{% csrf_token %}
       <!-- <h2 class="form-signin-heading">Sign in</h2>-->
       		<h3>Sign in</h3>
        
        				{% for obj6 in magic3sec %}
 							<tr>
 								<td>{{obj6}}</td>
 							</tr>
 					{% endfor %}
 					
               <br/>
        <button class="btn btn-large btn-primary" type="submit" name ="LOGIN">Log In</button>
        <!--<button class="btn btn-large btn-primary" type="submit" name ="cancel1">Sign up</button>-->
       
        
        
         
		<!--<div class="row">  
		<div class="span4">  
		 
  		<a></a>  
  		 
			</div>  
		</div>  
			</div>  
			</div>  
		<script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
			<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-alert.js"></script> 
        
       --> 
        
        
      </form>

    </div>
    {% endif %}
    
        

        </div>

        <div id="fade" class="black_overlay"></div>
 {% if my_object6 %}
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 
 
  <!--<div style="background-color: rgba(150, 150, 150, 0.5); overflow: hidden; position: fixed; left: 0px; top: 0px; bottom: 0px; right: 0px; z-index: 1000; display:block;">
    <div style="background-color: rgb(255, 255, 255); width: 300px; position: static; margin: 50px auto; padding: 20px 30px 0px; top: 110px; overflow: hidden; z-index: 1001; box-shadow: 0px 3px 8px rgba(34, 25, 25, 0.4);">
        <iframe src="{{STATIC_URL}}abc.html" widht="500px" height="400px" ></iframe>
    	
    </div>
</div>

  <br/>
-->
  

 <!--
 <div class="offset4 well span4">
      <form class="row-fluid span6" method='POST' action="/login/" >{% csrf_token %}
        <h2>Sign in</h2>
        {% for obj6 in my_object6 %}
 							<tr>
 								<td>{{obj6}}</td>
 							</tr>
 					{% endfor %}
 					
               <br/>
        <button class="btn btn-large btn-primary" type="submit" name ="LOGIN">Sign in</button>
      </form>

 </div>-->
    
    
  <div class="container-fluid">

      <form class="form-signin" method='POST' action="/login/" >{% csrf_token %}
       <!-- <h2 class="form-signin-heading">Sign in</h2>-->
       		<h3>Sign in</h3>
        
        				{% for obj6 in my_object6 %}
 							<tr>
 								<td>{{obj6}}</td>
 							</tr>
 					{% endfor %}
 					
               <br/>
        <button class="btn btn-large btn-primary" type="submit" name ="LOGIN">Sign in</button>
        <button class="btn btn-large btn-primary" type="submit" name ="cancel1">Sign up</button>
       
        
        
        <div class="container">  
		<div class="row">  
		<div class="span4">  
		<div class="alert">  
  		<a class="close" data-dismiss="alert" href="/login/name=Sapu/">×</a>  
  		<strong>Warning!</strong> what is wrong ?  
			</div>  
		</div>  
			</div>  
			</div>  
		<script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
			<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-alert.js"></script> 
        
        
        
        
      </form>

    </div>
    
    
    
 		<!--<div class="container-fluid">
  			<div class="row-fluid">
  				<div class="span4"></div>
  				<div class="span4 well">
 					<form method='POST' action="/login/" >{% csrf_token %}
 			
 					
       				 <h2 class="">Please sign in</h2>
       				 <table>
        				{% for obj6 in my_object6 %}
 							<tr>
 								<td>{{obj6}}</td>
 							</tr>
 					{% endfor %}
 					</table>
               <br/>
        <button class="btn btn-large btn-primary" type="submit" name ="LOGIN">Sign in</button>
      </form>
    </div>
    <div class="span4"></div> 
   </div>
   </div>-->
    
 			<!--<div style="border: solid black 2px;float: center;width: 50%;">
 				<div style="width: 600px;">
 				<td>	
 				<table border="0" cellpadding="15"> 			
 					{% for obj6 in my_object6 %}
 							<tr>
 								<td>{{obj6.label}}</td> <td>{{obj6}}</td>
 							</tr>
 					{% endfor %}
 					<br /><br />
 				</table>
 				<br />
 				<table>
 					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tr><input type="submit" name ="LOGIN" 

value="LOG IN" />
 					<input type="submit" name="FORGOT" value="FORGOT PASSWORD"></tr><br/>
 				</table>
 				</td>
 			</div></div>	
 			
 		</form>
 		  <body class="container-fluid">  <!--<a href="#"><i class=" icon-user"></i>  </a>
  <!-- for ui-->
  	<!--<div class="container-fluid">
  		 <div class="row-fluid">
  			<div class=" well span2" style="background-color: blue">
  				
  			</div>
  			<div class="well span10" style="background-color: blue">
  				dhfjfdkjhfdj
  			</div>
  		</div> 
  	</div>-->
  	
    
  	<!--
	<div class="well span4">
      <form class="row-fluid span6">
        <h2 class="">Please sign in</h2>
        <input type="text" class="input-xlarge" placeholder="Email address"><br />
        <input type="password" class="input-xlarge" placeholder="Password">
      <br/>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
    </div> --> <!-- /container -->
  	<!-- <center style="background-color: #CCFF00">
  		<body>
  			<div class="menu" style="background: #9900FF">
  				<div>
  					<table border="0" cellpadding="1">
  						<tr>
  							
  							<td><b><h2><a href="">Home</a></h2></b></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  							<td><h2><a href="">Sign Up/Sign In</a></h2></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  							<td><h2><a href="">Holiday</a></h2></td>&nbsp;&nbsp;
  							<td><h2><a href="">Leave Application</a> </h2></td>&nbsp;&nbsp;
  							<td><h2><a href="">Contact<h2></a></td>&nbsp;&nbsp;
  							<td><h2><a href="">Admin</h2></a></td>	&nbsp;&nbsp;
  						</tr>
  					</table>
  				</div>
  			</div>
  		</body>
  		</center>

		<br/>
 			<br/>
 			
            <tr><td><h4 style="position: absolute;left: 1000px;top: 70px;">Hello  {{showname}} </h4></td></tr><br/>
 			<tr><td><h4 style="position: absolute;left:1000px;top: 90px;">Date:{{a}}</h4></td></tr>		
 			<tr><td><a href="http://127.0.0.1:8000/signin/"><h4 style="position: absolute;left:1000px;top: 130px;"> Log Out</h4> </a></td></tr>	

			
 			</table>
 			<div style="border: solid black 2px;float: center;width: 50%;">
 				<div style="width: 600px;">
 					<br/>
  		
  		<center>
  			<h3 style="position:absolute;right: 90px;bottom: 90px;">Powered By :</h3>
 		<img src="{{STATIC_URL}}image53.jpg" alt="Pulpit rock" style="position:absolute; right:50px; bottom: 50px; width=150px; height=100px;" />
  			
 		<h3 style="position:absolute;right: 90px;bottom: 90px;">Powered By :</h3>
 		<img src="{{STATIC_URL}}image53.jpg" alt="Pulpit rock" style="position:absolute; right:50px; bottom: 50px; width=150px; height=100px;" />
 		<img src="{{STATIC_URL}}image53.jpg" alt="Pulpit rock" style="position:absolute; right:50px; bottom: 50px; width=150px; height=100px;" />
 -->
 {% endif %}
</body>
</html>
